@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:wght@400;500;600;700;800&display=swap");
.post, .post1 {
  background: rgb(130, 151, 172);
  color: rgb(255, 255, 255);
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.post:hover, .post1:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.post1 {
  border-radius: 4px;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../img/darkhoneycomb.png);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(255, 20, 20);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 20, 20);
  text-align: center;
}

h3 {
  color: rgb(255, 20, 20);
  text-align: center;
}

h4 {
  color: rgb(255, 20, 20);
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  text-align: center;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgb(241, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.botonera img {
  width: 150px;
}
.botonera li {
  display: inline-block;
}
.botonera li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: block;
}
.botonera li a:hover {
  background: rgb(255, 20, 20);
}

.grids {
  background: rgb(65, 65, 65);
  width: 100%;
  max-width: 1700px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
}
.grids div {
  background: rgb(65, 65, 65);
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}
.grids .head {
  grid-column: 1/6;
  background: rgb(65, 65, 65);
}
.grids .grid {
  grid-column: span 3;
}
.grids .article {
  background: rgb(130, 151, 172);
  padding: 20px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}
.grids .article h2 {
  padding: 10px;
}
.grids .article h2 p {
  padding: 10px;
}
.grids .sidebar {
  grid-column: span 2;
  background: rgb(130, 151, 172);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grids .sidebar img {
  width: 100%;
  margin-top: 5px;
}
.grids .post, .grids .post1 {
  background: rgb(130, 151, 172);
  color: rgb(255, 255, 255);
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.grids .post:hover, .grids .post1:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.contenedor a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 20, 20);
  border-radius: 4px;
  transition: all 400ms ease;
}
.contenedor .parrafo {
  color: rgb(255, 255, 255);
}

.carditem {
  flex-direction: column;
  height: 660px;
  margin: 20px;
  padding: 20px;
  width: 390px;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(65, 65, 65);
  box-shadow: 0px 1px 10px rgb(255, 255, 255);
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
}
.carditem:hover {
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
  transform: translateY(-2%);
}
.carditem .cardimg {
  display: flex;
  height: 50%;
  justify-content: center;
  overflow: hidden;
}

.cardimg img {
  width: 390px;
  height: 220px;
}

.buttons a:hover {
  background: rgb(255, 20, 20);
  color: rgb(255, 255, 255);
}

.filters {
  padding: 0 30px 40px 30px;
}
.filters a {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  text-decoration: none;
  margin-bottom: 4px;
  text-transform: lowercase;
}
.filters span {
  display: block;
  color: rgb(255, 20, 20);
  margin: 10px;
  letter-spacing: 1px;
}
.filters a:hover {
  color: rgb(255, 20, 20);
}

article {
  padding: 38px;
  margin: 10px;
  background: rgb(65, 65, 65);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgb(255, 255, 255);
}
article .colum-img img {
  border: 9px solid rgb(155, 155, 155);
  padding: 5px;
}

.colum {
  display: flex;
  flex-direction: row;
}

.noso-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1.5%;
  border-radius: 10px;
}
.noso-box .noso-hover {
  width: 0%;
  height: 100vh;
  background-color: rgba(56, 53, 53, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 4s all;
}
.noso-box:hover .noso-hover {
  width: 100%;
  height: 100%;
}

.noso-hover h2 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
  font-size: 2.5em;
  text-transform: uppercase;
}

.noso-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactar {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contactar .contant {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(239, 255, 255, 0.7);
  border-radius: 25px;
  width: 900px;
  background-color: rgb(65, 65, 65);
}
.contactar .contant form {
  width: 90%;
  padding: 50px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.map {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .grids .grid {
    grid-column: 1/-1;
  }
  .grids .sidebar {
    grid-column: 1/6;
  }
  .grids .post, .grids .post1 {
    grid-column: 1/-1;
  }
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  .noso-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .colum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
  }
}

/*# sourceMappingURL=main.css.map */
