// meadia quari


@media screen and (max-width: 768px) {
    .header {
        text-align: center;

    }

    .grids .grid {
        grid-column: 1/-1;
    }

    .grids .sidebar {
        grid-column: 1/6;
    }
    .grids  .post {
        grid-column: 1/-1;
    }

    nav{
        justify-content: center;
    }

    nav ul{
        display: none;
    }

    .noso-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    }
    
    .colum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto; 
    }

}


