//extends
.post{
    background: $platinum;
    color: $keyColor;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    &:hover{
    cursor: pointer;
    color: $blackcolor;
    background: $keyColor;
    }
}
    
.post1{
    @extend .post;
    border-radius: 4px;
}



//mixin
@mixin flex ($direction, $justify, $items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
  
}

@mixin flex-box ($content, $wrap){
    display: flex;
    justify-content: $content;
    flex-wrap: $wrap;
}
//maps



$paleta:(
    'uno': #ff0000,
    'dos': #ec3434,
    'tres':#d64d4d,
    'cuatro':#e9e9e9,
    'cinco': #9b9a9b,
    'seis': #292829,
    'siete':#e20505,
    'ocho':#d48181,
    'nueve':#c0b9bf,
    'diez':#ffffff,
    'once': #e7dbe5,
    'doce': #363636,
    'trece':#3f393e,
);
