//prueba de index

.grids{
    background: $secondaryColor;
    width: $primwidth;
    max-width: 1700px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
   div {
    background: $secondaryColor;
    padding: $primargin;
    border: 1px solid $blackcolor;
   }
    .head{
        grid-column: 1/6;
    background: $secondaryColor;

    }
    .grid {
        grid-column: span 3;
    }
    .article{
        background: $platinum;
        padding: $primargin;
        margin-top: 5px;
        color: $keyColor;
        h2{
            padding: $paddingY;
            p{
             padding: $paddingY;
            }
        }
    }
    .sidebar{
        grid-column: span 2;
    background: $platinum;
    color: $keyColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: $primwidth;
    margin-top: 5px;
    }
   }
   .post{
    background: $platinum;
    color: $keyColor;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    &:hover{
    cursor: pointer;
    color: $blackcolor;
    background: $keyColor;
    }
   }
}




